{% extends "base.html" %}

{% block title %}Profile - Paw Hub{% endblock %}
{% block page_title %}Profile{% endblock %}
{% block subtitle %}Manage your personal information{% endblock %}

{% block content %}

<div class="row g-3">

  <!-- Left: Profile Info -->
  <div class="col-lg-3">
    <div class="card p-3 rounded-4 shadow-sm border-0 text-center 
                d-flex flex-column justify-content-center align-items-center h-100">

      <img src="{{ url_for('static', filename='images/cat.png') }}"
           class="rounded-circle mb-2"
           width="80" height="80"
           alt="Profile Picture">

      <h5 class="fw-bold mb-0">{{ user_display_name }}</h5>
      <p class="text-muted mb-2">Pet Owner</p>

      <button class="btn btn-sm btn--outline-primary rounded-pill px-3">
        Upload Your Profile Picture
      </button>

    </div>
  </div>

  <!-- Right: Editable Form -->
  <div class="col-lg-9">
    <div class="card p-3 rounded-4 shadow-sm border-0">

      <h6 class="fw-semibold mb-3">Personal Information</h6>

      <form>

        <div class="row g-2">
          <div class="col-md-6">
            <label class="form-label small fw-semibold">Username</label>
            <input type="text" class="form-control custom-input" value="Jordan">
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label small fw-semibold">Email</label>
            <input type="email" class="form-control custom-input" value="jordan@email.com">
          </div>
        </div>

        <div class="row g-2">
          <div class="col-md-6">
            <label class="form-label small fw-semibold">Phone Number</label>
            <input type="text" class="form-control custom-input" value="012-3456789">
          </div>

          <div class="col-md-6 ">
            <label class="form-label small fw-semibold">Gender</label>
            <select class="form-select custom-input">
              <option selected>Male</option>
              <option>Female</option>
            </select>
          </div>
        </div>

        <hr class="my-4">

        <h6 class="fw-semibold mb-3 mb-2">Change Password</h6>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">New Password</label>
            <input type="password" class="form-control custom-input">
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" class="form-control custom-input">
          </div>
        </div>

        <div class="text-end mt-3">
          <button type="submit" class="btn btn-primary rounded-pill px-4">
            Save Changes
          </button>
        </div>

      </form>

    </div>
  </div>

</div>

{% endblock %}